.home {
}

.header {
    font-size: 34px;
    color: var(--primary-color);
    padding-bottom: 25px;
}

.images-container {
    margin: auto;
    width: 350px;
    border-radius: 25px;
}
.image {
    height: 500px;
    width: 350px;
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 500px) {

}
