.container {
    width: 100%;
    height: 100%;
}

.home {
    display: inline-flex;
    max-width: 1500px;
    margin: auto;
    align-items: center;
}
.first-frame-container {
    position: relative;
    background-color: var(--primary-lavender);
    padding-top: 100px;
    width: 100%;
}

.home-first-frame {
    height: 690px;
}

.about-first-frame {
    height: 700px;
}

.dance-first-frame {
    height: 200px;
}

.cards {
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-flex;
}

.cards > a {
    margin: auto 20px;
}

.videos {
    padding-bottom: 50px;
}
.video {
    height: 390px;
    width: 640px;
    margin-top: 30px;
}

.swirly {
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 2013px;
    height: 172px;
    margin-left: -1007px;
}

.header {
    font-size: 40px;
    color: var(--text-white);
}

.bio-container {
    max-width: 550px;
    line-height: 1.9em;
    text-align: left;
    margin-top: -10px;
}
.bio-container > h1 {
    font-size: 40px;
    color: var(--text-white);
}
.bio-container > div {
    font-size: 19px;
    color: var(--text-black);
}

.about-bio-container {
    max-width: 800px;
    line-height: 1.4em;
    text-align: left;
    margin: auto;
}
.about-bio-container > h1 {
    font-size: 40px;
    text-align: center;
    color: var(--text-white);
}
.about-bio-container > div {
    font-size: 15px;
    color: var(--text-black);
}

.resume {
    max-width: 800px;
    line-height: 1.4em;
    text-align: center;
    margin: 0 auto 40px auto;
}
.resume > h1 {
    font-size: 40px;
    color: var(--text-black);
}
.resume > img {
    height: 900px;
}
.upon-request {
    max-width: 470px;
    width: 92%;
    margin: 20px auto;
}

.contact {
    font-size: 20px;
    color: var(--text-black);
    display: block;
}
.contact > div {
    margin: auto;
}
.contact > img {
    height: 350px;
    border-radius: 20px;
    margin: 40px auto;
}
.contact > div > div:not(:first-child) {
    margin-top: 20px;
}

.button-container {
    margin-top: 25px;
}
.button {
    background-color: var(--text-white) !important;
    color: var(--text-black) !important;
}
.button:hover {
    background-color: var(--primary-color) !important;
}

.images-container {
    margin: auto auto auto 100px;
    width: 333px;
    border-radius: 25px;
}
.image {
    height: 500px;
    overflow-x: hidden;
}

@media only screen and (max-width: 800px) {
    .cards {
        padding-top: 0;
        display: block;
    }
    .home {
        display: block;
    }
    .home-first-frame {
        height: 900px;
    }
    .about-first-frame {
        height: 700px;
    }
    .bio-container {
        line-height: 1.4em;
        margin: -10px auto 0 auto;
        width: 92%;
    }
    .bio-container > h1 {
        font-size: 30px;
    }
    .bio-container > div {
        font-size: 17px;
    }
    .about-bio-container > h1 {
        font-size: 30px;
    }
    .about-bio-container > div {
        width: 92%;
        margin: auto;
        font-size: 15px;
    }

    .images-container {
        margin: 20px auto;
        text-align: center;
        width: 280px;
        border-radius: 25px;
    }
    .image {
        height: 420.42px;
        overflow-x: hidden;
    }

    .resume > h1 {
        font-size: 30px;
    }
    .resume > img {
        height: 700px;
    }
}

@media only screen and (max-width: 650px) {
    .about-first-frame {
        height: 800px;
    }
    .video {
        height: 274.22px;
        width: 450px;
    }
    .contact {
        font-size: 18px;
    }
    .swirly {
        position: relative;
    }
}

@media only screen and (max-width: 500px) {
    .about-first-frame {
        height: 950px;
    }
    .bio-container > h1 {
        font-size: 26px;
    }
    .bio-container > div {
        font-size: 13px;
    }
    .about-bio-container > h1 {
        font-size: 26px;
    }
    .about-bio-container > div {
        font-size: 13px;
    }
    .resume > h1 {
        font-size: 26px;
    }
    .resume > img {
        height: 500px;
    }
    .video {
        height: 164.53px;
        width: 270px;
    }
}
